body {
    font-family: 'Montserrat', serif;

    background-color: rgb(0, 0, 0);
}



/* Hamburgher Menu */
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: rgb(255, 255, 255);
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham8 .top {
    stroke-dasharray: 40 160;
}

.ham8 .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
}

.ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
    stroke-dashoffset: -64px;
}

.ham8.active .middle {
    /* stroke-dashoffset: -20px; */
    transform: rotate(90deg);
}

.ham8.active .bottom {
    stroke-dashoffset: -64px;
}

/* Box Contenuti */
.textPrimoBox {
    position: absolute;
    top: 0;
    width: 206px;
    padding: 17px;
}

.scopriDipiu {
    padding-left: 17px;
    bottom: 10px;
}

.boxCalascioAntica {
    object-fit: contain;
    position: relative;
    width: 90%;
    max-width: 718px;
    left: 50%;
    transform: translateX(-50%);
}

.sfondoCarta {
    /* background-image: url(/assets/img/home/carta_large.jpg); */
    background-repeat: no-repeat, repeat;
    background-size: cover;

}


/* 
@media screen and (min-width: 800px) {
    .sfondoCarta {
        height: 900px;
    }
} */

.sezioneScaricaApp {
    background-color: #014B46;
    position: relative;
    top: -4px;
}



.ondeHome {
    position: relative;
    width: 100%;
    background-color: #014B46;
    top: -4px;
}

.buttonPrenotazione {
    position: absolute;
    max-width: 400px;
    min-width: 100px;
    width: 95%;
    padding: 3px;
    height: 70px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #18AB88;
    border: 6px solid #0E3756;
    box-shadow: 0px 0px 85px rgba(0, 0, 0, 0.7);
    border-radius: 55.5px;
}

.containerButton {
    background-color: #3831A8;
    position: relative;
    height: 200px;

}
.footer{
    background-color: #3831A8;
    position: relative;
    width: 100%;
    top: -4px;
}